body,html
{
    margin: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'ElaineSansRegular'; 
    display: flex;
    flex-direction: column;
}



pre
{
    border-left: 1px solid gray;
    padding-left: 10px;
}

.top
{
    background-color: #ff6f61;
    color: white;
    padding-top: 80px;
    font-family: 'ElaineSansRegular'; 
}

.top__main-title
{
    text-align: center;
    margin: 0;
    font-size: 4em;
}

.tabs
{
    text-align: center;
    margin-top: 100px;
}

.tabs__tab
{
    display: inline-block;
    padding: 10px;
    min-width: 200px;
    color: white;
    font-size: 1.5em;
}

.tabs__tab--selected
{
    border-bottom: none;
    border-top: 2px solid white;
}

main
{
    display: flex;
    flex-grow: 1;
}

section
{
    flex: 1;
    padding-top: 10px;
}

.application
{
    width: 800px;
    margin: auto;
    box-shadow: 0px 0px 60px rgba(150,150,150,0.2);
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 15px;
    position: relative;
    border: 1px solid lightgray;
}

.application::after
{
    content: "";
    display: block;
    position: absolute;
    left: -80px;
    top:0px;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 30px;
    display: none;
    background-size: 80%;
    background-position:center;
    background-repeat: no-repeat;

}

.application[status="0"]
{
    border: 1px solid red;
}

.application[status="0"]::after
{
    display: block;
    border-color:red;
    background-image: url("./helium/delete.svg");
}

.application[status="1"]
{
    border: 1px solid blue;
}

.application[status="2"]
{
    border: 1px solid green;
}

.application[status="2"]::after
{
    display: block;
    border-color:green;
    background-image: url("./helium/confirm.svg");
}


.application[status="1"]::after
{
    display: block;
    border-color:blue;
    background-image: url("./helium/refresh.svg");
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.application__description
{
    text-align: center;
}

.application__title
{
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.8em;
}

.route__top
{
    position: relative;
}

.route__title
{
    margin: 0;
    font-size: 1.5em;
}

.route__server
{
    color: gray;
    font-size: 70%;
    padding-right: 0.5em;
}

.route__description
{
    margin-bottom: 10px;
}

.route__top:after {
    content: '\002B';
    font-weight: bold;
position: absolute;
    margin-left: 5px;
    right: 10px;
    top:5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

.route__verbe
{
    color:#ff6f61;
}

.route__subtitle
{
    font-size: 1.4em;
}

.route__content
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

aside
{
    flex-basis: 400px;
    width: 400px;
    background-color: white;
    border-left: 2px solid black;
}

step-element
{
    margin: auto;
    display: block;
    width: 500px;
}

form
{
    text-align: center;
    margin-top: 100px;
}

input
{
    height: 30px;
    width: 200px;
    box-shadow: 1px 1px 3px rgb(200,200,200) inset;
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
}

input[type="button"]
{
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 7px rgb(100,100,100,0.5);
}


aside p
{
    padding: 5px;
    border-top: 1px solid gray;
}

h2
{
    text-align: center;
}